@import "styles/reset.scss";

.header {
  width: 100%;
  height: 100px;

  display: flex;
  position: fixed;
  top: 0;

  background-color: $white;
  z-index: 900;
}
.header-in {
  margin: auto;
  display: flex;
}

.header-logo {
  margin-left: 10px;
  margin-right: 68px;
  display: flex;
  img {
    width: 126px;
    height: 32px;
    margin: auto;

    cursor: pointer;
  }
}

.header-menu {
  display: flex;
  a {
    margin: auto;

    color: $Gray-09;
    font-size: 18px;
    font-weight: 400;
    -webkit-text-stroke: 0.2px $white;
  }
}
.header-menu-in {
  height: 52px;
  margin-right: 52px;
  display: flex;
}
.header-border {
  border-bottom: 4px solid $Gray-09;
}
