@import "styles/reset.scss";

.portfolio-in {
  min-width: 1200px;
}

.portfolio-box {
  max-width: 600px;
  min-width: 600px;
  height: 700px;
  margin: auto;

  display: flex;
  border-radius: 10px;
  border: 1px solid $white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7), 0px 4px 250px $white;
}
