@import "styles/reset.scss";

.portfolios-main {
  position: relative;
}

.portfolios-right {
  position: absolute;
  right: 0;
  z-index: 0;
  // bottom: 0;
}

// components/portfolios/PortfolioDetail.tsx
.portfolio-detail-main {
  position: relative;
}
.portfolio-detail-box {
  width: 100%;
  top: 50px;
  position: absolute;

  // border-radius: 10px;
  border: 1px solid $black;
  transition: 1s all;
  background-color: $white;

  &-0 {
    height: 250px;
  }

  &-1 {
    height: 1000px;
  }

  &-2 {
  }
}
// .portfolio-detail-box-in {
//   padding: 20px;
// }

// .portfolio-detail-top {
//   width: 100%;

//   &-title {
//     font-size: 20px;
//     font-weight: 700;
//   }
//   &-content {
//     font-size: 16px;
//     font-weight: 400;
//   }
//   &-framework {
//   }
//   &-link {
//   }
//   &-githublink {
//   }
// }

// .portfolio-detail-middle {
//   &-0 {
//     width: 100%;
//     display: none;
//   }

//   &-2 {
//     width: 30%;
//     display: block;
//   }
// }

// .portfolio-detail-last {
//   &-0 {
//     width: 100%;
//     display: none;
//   }

//   &-2 {
//     width: 70%;
//     display: block;
//   }
// }
