@import "styles/reset.scss";

.portfolio-in {
  min-width: 1200px;
  min-height: 700px;
  position: relative;
}

.portfolio-box {
  max-width: 600px;
  min-width: 600px;
  height: 700px;

  // margin: auto;
  // display: flex;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  border: 1px solid $white;
  background-color: $white;
}
