$white: #fff;
$black: #000;

$purple: #672484;

$Gray-10: #171717;
$Gray-09: #3d3d3d;
$Gray-08: #555555;
$Gray-07: #8b8b8b;
$Gray-06: #a5a5a5;
$Gray-05: #c1c1c1;
$Gray-04: #d9d9d9;
$Gray-03: #ececec;
$Gray-02: #f5f4f3;
$Gray-01: #fbfbfb;
