@import "styles/reset.scss";

.stillstack-in {
  min-width: 1180px;
  padding: 0 10px;
  padding-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;

  overflow-y: scroll;
  overflow-x: hidden;
}

.stillstack-box {
  max-width: 360px;
  min-width: 360px;
  height: 480px;
  margin-bottom: 50px;

  //   display: flex;
  border-radius: 10px;
  background-color: $white;
}
