@import "../../styles/reset.scss";

.career-main {
    min-width: 800px;
    margin: auto;
}
.career-main-inner {
    margin: 20px 10px;
}

.career-main-top {
    margin: 20px 0;
    a{
        color: $main;
        text-shadow: 0px 0px 15px $black;
    }
}

.career-main-box {
    width: 780px;
    display: flex;

    .career-main-box-top {
        .career-ball {
            width: 10px;
            height: 10px;
    
            border-radius: 50%;
            border: 5px solid $black;
        }
        .career-line {
            width: 5px;
            height: calc(100% - 20px);
            margin-left: 7.4px;
            background-color: $black;
        }
    }
    .career-main-box-middle {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        padding-top: 0;
        .career-time {
            padding-bottom: 5px;
        }
        .career-lang {
            margin-bottom: 10px;
            display: inline-block;
        }
        .career-lang-box {
            padding: 5px;
            margin: 5px;
            margin-top: 0;
            font-size: 16px;

            border-radius: 20px;
            box-shadow: 2px 2px 4px $black;
            background-color: $white;
        }
        .career-lang-box-0 {
            margin-left: 0;
        }
        .career-title {
            padding: 5px 0;
        }
        .career-content {
            line-height: 30px;
            margin-bottom: 10px;
            padding: 5px 0;
            font-size: 16px;
        }
        .career-link {
            margin-bottom: 10px;
            display: inline-block;
            font-size: 16px;
            span {
                width: 100%;
                color: $main;
                text-shadow: 0px 0px 10px $black;
            }
        }
    }
}

@media (max-width: 767px) {
    .career-main {
        min-width: 0;
        width: 100%;
        margin: auto;
    }

    .career-main-box {
        width: 100%;
    }
}