@import "styles/reset.scss";

@font-face {
  font-family: "CookieRunRegular";
  src: url(assets/fonts/CookieRun-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "CookieRunBold";
  src: url(assets/fonts/CookieRun-Bold.ttf);
}
@font-face {
  font-family: "CookieRunBlack";
  src: url(assets/fonts/CookieRun-Black.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  color: $Gray-09;
  font-family: "CookieRunRegular";
  /* -webkit-text-stroke: 0.6px #fff; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
