@import "../../styles/reset.scss";

.usestack-main {
    min-width: 800px;
    margin: auto;
}
.usestack-main-inner {
    margin: 20px 10px;
}

.usestack-main-top {
    max-width: 780px;
    line-height: 28px;
    margin-bottom: 30px;
}
.usestack-main-middle {
    max-width: 780px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;

    .usestack-lang {
        line-height: 30px;
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        border: 3px solid $black;

        .usestack-title {
            padding: 5px;

            display: inline-block;
            position: relative;
            top: -20px;
            font-size: 20px;
            
            border-radius: 20px;
            background-color: $white;
            box-shadow: 2px 2px 4px $black;
        }
    }
}

@media (max-width: 767px) {
    .usestack-main {
        min-width: 0;
        width: 100%;
        margin: auto;
    }

    .usestack-main-top {
        width: 100%;
    }
    .usestack-main-middle {
        grid-template-columns: 1fr;
    }
}